extends ../layout

block content
  main.form-signin
    form(method="POST")
      input(type='hidden' name='_csrf', value=_csrf)
      h1.h3.mb-3.mt-5.fw-normal.text-center Sign in
      label.visually-hidden(for='inputEmail') Email address
      input#inputEmail.form-control(type='email' name="email" placeholder='Email address' required='' autofocus='')
      label.visually-hidden(for='inputPassword') Password
      input#inputPassword.form-control(type='password' name="password" placeholder='Password' required='')

      button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
      a.btn.btn-link.mb-1.mt-1.mx-auto(href='/forgot') Forgot your password?

    .row.g-3.mt-3
      .col-md-12       
        a.btn.w-100.btn-block.btn-google.btn-social(href='/auth/google')
          i.fab.fa-google-plus-g.fa-xs
          | Sign in with Google
      .col-md-12       
        a.btn.w-100.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fab.fa-facebook-f.fa-sm
          | Sign in with Facebook
      .col-md-12       
        a.btn.w-100.btn-block.btn-instagram.btn-social(href='/auth/instagram')
          i.fab.fa-instagram.fa-sm
          | Sign in with Instagram
      .col-md-12       
        a.btn.w-100.btn-block.btn-twitter.btn-social(href='/auth/twitter')
          i.fab.fa-twitter.fa-sm
          | Sign in with Twitter
      .col-md-12       
        a.btn.w-100.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
          i.fab.fa-linkedin-in.fa-sm
          | Sign in with LinkedIn
      .col-md-12       
        a.btn.w-100.btn-block.btn-twitch.btn-social(href='/auth/twitch')
          i.fab.fa-twitch.fa-sm
          | Sign in with Twitch
      .col-md-12       
        a.btn.w-100.btn-block.btn-github.btn-social(href='/auth/github')
          i.fab.fa-github.fa-sm
          | Sign in with GitHub
      .col-md-12       
        a.btn.w-100.btn-block.btn-snapchat.btn-social(href='/auth/snapchat')
          i.fab.fa-snapchat-ghost.fa-sm
          | Sign in with Snapchat
