extends ../layout

block content
  .container
    .row.justify-content-center
      .col-md-6
        form(id='signup-form' method='POST')
          .mb-3
            label.form-label(for='email') Email address
            input.form-control(type='email' name='email' id='email' placeholder='Email', autofocus, autocomplete='email', required)
            .form-text We'll share your email with everyone else.
          .mb-3
            label.form-label(for='password') Password
            input.form-control(type='password' name='password' id='password' placeholder='Password' minlength='8', required)
          .mb-3
            label.form-label(for='confirmPassword') Password
            input.form-control(type='password' name='confirmPassword' id='confirmPassword' placeholder='Confirm Password' minlength='8', required)
          .mb-3.form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Remember me
          button.btn.btn-primary(type='submit') Submit
