if messages.success
  .alert.alert-success.alert-dismissible.fade.show.border-0.text-center.p-0(role='alert')
    for success in messages.success
      div= success.msg
    button.btn-close.p-1(type='button' data-bs-dismiss='alert' aria-label='Close')
if messages.info
  .alert.alert-info.alert-dismissible.fade.show.border-0.text-center.p-0(role='alert')
    for info in messages.info
      div= info.msg
    button.btn-close.p-1(type='button' data-bs-dismiss='alert' aria-label='Close')
if messages.errors
  .alert.alert-danger.alert-dismissible.fade.show.border-0.text-center.p-0(role='alert')
    for errors in messages.errors
      div= errors.msg
    button.btn-close.p-1(type='button' data-bs-dismiss='alert' aria-label='Close')

