extends layout

block content
    main.flex-shrink-0
        .container
        .pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
            h1.display-4 Nothing to see here
            p.lead 404 Page not found
